<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/adds.css">
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <%- include('./includes/nav.ejs') %>

        <body>
            <h2 class="welcome">Welcome to Employee Department management system!!!</h2>
        </body>
        <%- include('./includes/end.ejs') %>